:root {
    --main-color:#10cab7;
}
body {
font-family: 'Work Sans', sans-serif;
position: relative;
}
html {
    scroll-behavior: smooth;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container,
.container-cont {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container,
    .container-cont {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container,
    .container-cont {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container,
    .container-cont {
        width: 1170px;
    }
}
/* start bottom scroll Top  */
.scroll {
    background-color:var(--main-color);
    padding: 10px;
    border-radius: 50px;
    font-size: 20px;
    color: white;
    position: fixed;
    left: 1.5rem;
    bottom: 5%;
    cursor: pointer;
    z-index: 100;
    display: none;
}
/* end bottom scroll Top  */
/* header_start */
.header_start {
    padding: 20px 0;
    background-color: rgba(34, 34, 34, 0.85);
    position:fixed;
    width: 100%;
    z-index: 100;
}
.header_start .container {
    display: flex;
    justify-content: space-between;   
    align-items: center;
    width: 80%;
    position: relative;
}
.header_start .container i {
    font-size: 30px;
    color: var(--main-color);
    cursor: pointer;
}
.header_start .container .link ul  {
    list-style: none;
    background-color: #eee;
    opacity: 1;
    display: none;
    transition: 0.3s;
    padding-left: 0;
    position: absolute;
    right: 11px;
    top: 11px;
}
.header_start .container .link:hover ul {
    display: block;
}
.header_start .container .link ul li:not(:last-child) {
    border-bottom: #333 1px solid;
}
.header_start .container .link ul li {
    padding: 15px 0;
    transition: 0.3s;
}
.header_start .container .link ul li a {
    color: black;
    padding-right: 80px;
    padding-left: 10px;
    text-decoration: none;
}
.header_start .container .link ul li:hover {
    padding-left: 25px;
    background-color: rgba(34, 34, 34, 0.85);
    border-bottom: #10cab7 4px solid;
}
.header_start .container .link ul li:hover a {
    color: white;
}
.header_start .container .link .list {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    cursor: pointer;
    transition: 0.3s;
}
.header_start .container .link .list span {
    background-color: #797979;
    height: 3px;
    width: 100%;
    margin: 2px 0;
    transition: 0.3s;
}
.header_start .container .link .list:hover span{
    background-color: var(--main-color);
}
/* end header */
/* Start Logo */
.container .logo {
    color: #777;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: -55px 0 0 0;
}
.container p {
    text-align: center;
    font-size: 15px;
    line-height: 1.8;
    color: #797979;
    margin-top: -22px;
}
@media (max-width: 767px) {
    .container .logo {
        font-size: 80px;
    }
}
/* End Logo */
/* start landing */
.landing {
    background-image: url(../img/background-07.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}
.landing .text_landing {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 320px;
    max-width: 100%;
}
.landing .text_landing h1 {
    font-size: 50px;
    font-weight: bold;
    color: var(--main-color);
}
.landing .text_landing q {
    font-size: 19px;
    line-height: 1.8;
    color: #666;
    font-weight: bold;
}
/* end landing */
/* start features */
.features {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 25px;
}
.features .container .feat {
    padding: 20px;
    text-align: center;
}
@media (min-width:672px) and (max-width:1110px) {
    .features .container .feat:last-child {
        transform: translateX(50%);
}
}
.features .container .feat i {
    color: var(--main-color);
    font-size: 60px;
}
.features .container .feat h3 {
    text-align: center;
    font-weight: 800;
}
.features .container .feat q {
    line-height: 1.6;
    color: #555;
}
/* end features */
/* start services */
.services {
    padding-top: 60px; 
    padding-bottom: 60px; 
}
.services .container-cont {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
    margin-top: 100px;
}
@media (max-width:1110px){
    .services .container-cont{
        grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    }
}
.services .container-cont .feat {
    padding: 20px;
    display: flex;
}
.services .container-cont .feat i {
    padding: 17px;
    font-size: 35px;
    color: var(--main-color);
}
.services .container-cont .img {
    width: 300px;
    height: 400px;
    position: relative;
}
.services .container-cont .img::before {
    content: "";
    width: 100px;
    height: 100%;
    background-color: var(--main-color);
    position:absolute;
    left: -33px;
    top: -53px;
    z-index: -1;
}
.services .container-cont .img::after {
    content: "";
    background-color: #777;
    width: 100px;
    height: 100%;
    position:absolute;
    right: -33px;
    bottom: -53px;
    z-index: -1;
}
@media (max-width:1110px) {
    .services .container-cont .img {
        display: none;
    }
}
.services .container-cont .img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
/* end services */
/* start portfolio */
.portfolio  {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.portfolio .container-cont {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 20px;
    margin: 100px auto;
    padding: 0 10px;
}
.portfolio .container-cont .feat {
    background-color: white;
}
@media (min-width:657px) and (max-width:991px) {
    .portfolio .container-cont .feat:last-child {
        transform: translateX(50%);
    }
}
.portfolio .container-cont .feat .text{
    padding: 20px;
}
.portfolio .container-cont .feat h4 {
    font-size: 25px;
    margin-bottom: 10px;
}
.portfolio .container-cont .feat p {
    color: #777;
    margin-bottom: 0;   
}
.portfolio .container-cont .feat img {
    width:100%;
    height: 300px
}
.portfolio img {
    filter: grayscale(1);
    transition: 0.5s 0.5s;
}
img:hover {
    filter: grayscale(0);
}
/* end portfolio */
/* start about */
.about {
    padding-top: 60px; 
    padding-bottom: 60px; 
}
.about .container-cont {
    margin-top: 100px;
    padding: 0 10px;
}   
.about .container-cont .cont hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}
.about .container-cont .cont p  {
    font-size: 17px;
    padding: 10px 0 ;
    line-height: 1.5;
}
.about .container-cont .img {
    position: relative;
    width: 300px;
    height: 400px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
}
.about .container-cont .img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.about .container-cont .img::after {
    content: "";
    background-color: var(--main-color);
    position: absolute;
    width: 150px;
    height: 100%;
    top: -33px;
    left: -53px;
    z-index: -1;
}
.about .container-cont .img::before{
    content: "";
    background-color:#777;
    position: absolute;
    width: 150px;
    height: 100%;
    bottom: -33px;
    right: -53px;
    z-index: -1;
}
@media (max-width:991px){
    .about .container-cont .img::before,
    .about .container-cont .img::after{
        content: none;
    }
}
/* end about */
/* start content */
.Contact {
    padding-top: 60px;
    background-color: #f6f6f6;
}
.Contact .container p {
    text-align: center;
    font-size: 15px;
    line-height: 1.8;
    color: #797979;
    margin-top: -22px;
    margin-bottom: 0;
}
.Contact .container-cont {
    margin-top: 80px;
    text-align: center;
}
.Contact .container-cont .text1 {
    font-size: 35px;
    font-weight: 800;
    color: #2c4755;
    letter-spacing: -2px;
    margin-bottom: 15px;
}
@media (max-width:767px) {
    .Contact .container-cont .text1 {
        font-size: 25px;
    }
}
.Contact .container-cont a {
    text-decoration: none;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 800;
}
.Contact .container-cont a:hover {
    text-decoration: underline;
}
.Contact .container-cont .text2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
    text-decoration:underline;
}
.Contact .container-cont .account {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.Contact .container-cont .account a i {
    color: rgb(3, 6, 36);
    font-size: 30px;
    margin: 10px;
}
.Contact .container-cont .account a i:hover {
    color: var(--main-color);
}
/* end content *
